In [1]:
import pandas as pd

file_path = '/Users/jeongsomi/Desktop/wiset_ai/crawwing/kartmarket/k-artmarket/k_artmarket.csv'
df = pd.read_csv(file_path)
print(df.columns.tolist())

['작가명', '작가명_영문', '작품명', '재료', '규격', '호수', '낙찰가격', '경매명', '경매회사', '경매일', 'uci_code']

In [2]:
df.info

<bound method DataFrame.info of              작가명                작가명_영문  \
0            박생광      Park Saeng Kwang
1            이우환             Lee U Fan
2            서용선           Suh YongSun
3            우국원                   NaN
4        아야코 록카쿠         Ayako Rokkaku
...          ...                   ...
94555        디렌리                   NaN
94556  장 미셸 오토니엘  Jean-Michel Othoniel
94557        김응현        Kim Eung Hyeon
94558        김창열      Kim Tschang Yeul
94559         콰야                 Qwaya

                                            작품명        재료  \
0                                         단청 丹青  종이에 수묵채색
1                         Gateway to the East 7      아쿼틴트
2                                       지리산 원묵계  캔버스에 아크릴
3                             Let Them Eat Cake   디지털 프린트
4                                    Untitled B     실크스크린
...                                         ...       ...
94555                                   My Hero  캔버스에 아크릴
94556                              Plum Blossom       석판화
94557                                     격언 格言     종이에 먹
94558  L'inspecteur Est Toujours au Rendez-vous       동판화
94559                                  정해져 있는 길   캔버스에 유채

                                                      규격   호수     낙찰가격  경매명  \
0      69☓69\r\n                                     ...  NaN  8500000  KRW
1      29☓35\r\n                                     ...  NaN  5000000  KRW
2      72☓60\r\n                                     ...  20호  6500000  KRW
3      72☓90\r\n                                     ...  NaN  6000000  KRW
4                                         sheet 73×103cm  NaN  9000000  KRW
...                                                  ...  ...      ...  ...
94555  45☓45\r\n                                     ...  NaN  2900000  KRW
94556                                    sheet 40×30.6cm  NaN  1100000  KRW
94557  32☓123\r\n                                    ...  NaN   300000  KRW
94558  49☓64\r\n                                     ...  NaN  1000000  KRW
94559  72☓60\r\n                                     ...  20호  1500000  KRW

                           경매회사         경매일             uci_code
0      케이옥션 12월 31일 프리미엄 온라인 경매  2024-12-31  I805-PS81AAWYG15502
1      케이옥션 12월 31일 프리미엄 온라인 경매  2024-12-31  I805-PS98AAWWS15462
2      케이옥션 12월 31일 프리미엄 온라인 경매  2024-12-31  I805-PT09AAWXA15470
3      케이옥션 12월 31일 프리미엄 온라인 경매  2024-12-31  I805-PT22AAWYD15499
4      케이옥션 12월 31일 프리미엄 온라인 경매  2024-12-31  I805-PT21AAWYC15498
...                         ...         ...                  ...
94555   케이옥션 12월 30일 위클리 온라인 경매  2024-12-30  I805-PT23AAWTX15389
94556   케이옥션 12월 30일 위클리 온라인 경매  2024-12-30  I805-PT22AAWUY15416
94557   케이옥션 12월 30일 위클리 온라인 경매  2024-12-30  I805-PS77AAWVD15421
94558   케이옥션 12월 30일 위클리 온라인 경매  2024-12-30  I805-PS71AAWUF15397
94559   케이옥션 12월 30일 위클리 온라인 경매  2024-12-30  I805-PT22AAWTZ15391

[94560 rows x 11 columns]>

In [3]:
null_counts = df.isnull().sum()
print("각 열별 null 값 갯수:\n", null_counts)

각 열별 null 값 갯수:
 작가명             0
작가명_영문      17182
작품명             0
재료           3940
규격              0
호수          63925
낙찰가격            0
경매명             0
경매회사            0
경매일             0
uci_code     3940
dtype: int64

In [4]:
#null 값 X, '작가명'이 '-'인 행만 추출
rows_with_dash_artist = df[df['작가명'] == '-']
print(rows_with_dash_artist)

      작가명 작가명_영문                    작품명   재료              규격   호수     낙찰가격  \
5       -    NaN  청자철화초문유병 외 靑磁鐵畫草文油甁 外  NaN  8×6(h)cm 외, 3점  NaN  3500000
29      -    NaN  청자철화초문유병 외 靑磁鐵畫草文油甁 外  NaN  8×6(h)cm 외, 3점  NaN  3500000
53      -    NaN  청자철화초문유병 외 靑磁鐵畫草文油甁 外  NaN  8×6(h)cm 외, 3점  NaN  3500000
77      -    NaN  청자철화초문유병 외 靑磁鐵畫草文油甁 外  NaN  8×6(h)cm 외, 3점  NaN  3500000
103     -    NaN  청자철화초문유병 외 靑磁鐵畫草文油甁 外  NaN  8×6(h)cm 외, 3점  NaN  3500000
...    ..    ...                    ...  ...             ...  ...      ...
94452   -    NaN  청자철화초문유병 외 靑磁鐵畫草文油甁 外  NaN  8×6(h)cm 외, 3점  NaN  3500000
94476   -    NaN  청자철화초문유병 외 靑磁鐵畫草文油甁 外  NaN  8×6(h)cm 외, 3점  NaN  3500000
94489   -    NaN  청자철화초문유병 외 靑磁鐵畫草文油甁 外  NaN  8×6(h)cm 외, 3점  NaN  3500000
94513   -    NaN  청자철화초문유병 외 靑磁鐵畫草文油甁 外  NaN  8×6(h)cm 외, 3점  NaN  3500000
94540   -    NaN  청자철화초문유병 외 靑磁鐵畫草文油甁 外  NaN  8×6(h)cm 외, 3점  NaN  3500000

       경매명                      경매회사         경매일 uci_code
5      KRW  케이옥션 12월 31일 프리미엄 온라인 경매  2024-12-31      NaN
29     KRW  케이옥션 12월 31일 프리미엄 온라인 경매  2024-12-31      NaN
53     KRW  케이옥션 12월 31일 프리미엄 온라인 경매  2024-12-31      NaN
77     KRW  케이옥션 12월 31일 프리미엄 온라인 경매  2024-12-31      NaN
103    KRW  케이옥션 12월 31일 프리미엄 온라인 경매  2024-12-31      NaN
...    ...                       ...         ...      ...
94452  KRW  케이옥션 12월 31일 프리미엄 온라인 경매  2024-12-31      NaN
94476  KRW  케이옥션 12월 31일 프리미엄 온라인 경매  2024-12-31      NaN
94489  KRW  케이옥션 12월 31일 프리미엄 온라인 경매  2024-12-31      NaN
94513  KRW  케이옥션 12월 31일 프리미엄 온라인 경매  2024-12-31      NaN
94540  KRW  케이옥션 12월 31일 프리미엄 온라인 경매  2024-12-31      NaN

[3940 rows x 11 columns]

In [5]:
df2 = df[df['작가명'] != '-'].copy()
df2['낙찰가격'] = pd.to_numeric(df2['낙찰가격'], errors='coerce')

In [6]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 90620 entries, 0 to 94559
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   작가명       90620 non-null  object
 1   작가명_영문    77378 non-null  object
 2   작품명       90620 non-null  object
 3   재료        90620 non-null  object
 4   규격        90620 non-null  object
 5   호수        30635 non-null  object
 6   낙찰가격      90620 non-null  int64
 7   경매명       90620 non-null  object
 8   경매회사      90620 non-null  object
 9   경매일       90620 non-null  object
 10  uci_code  90620 non-null  object
dtypes: int64(1), object(10)
memory usage: 8.3+ MB

In [7]:
#규격 값 확인
print(df2['규격'].unique())

['69☓69\r\n                                                         cm'
 '29☓35\r\n                                                         cm'
 '72☓60\r\n                                                         cm'
 '72☓90\r\n                                                         cm'
 'sheet 73×103cm' 'sheet 78×60.5cm'
 '53☓45\r\n                                                         cm'
 '100☓50\r\n                                                         cm'
 '130☓162\r\n                                                         cm'
 '162☓97\r\n                                                         cm'
 '33☓40\r\n                                                         cm'
 'sheet 100×75cm'
 '60☓72\r\n                                                         cm'
 '65☓90\r\n                                                         cm'
 '90☓65\r\n                                                         cm'
 '313☓92\r\n                                                         cm'
 '59☓59\r\n                                                         cm'
 'sheet 76.5×56cm'
 '49☓64\r\n                                                         cm'
 '45☓45\r\n                                                         cm'
 '32☓123\r\n                                                         cm'
 '45☓53\r\n                                                         cm'
 'sheet 83×60cm'
 '60☓60\r\n                                                         cm'
 '45☓37\r\n                                                         cm'
 '80☓100\r\n                                                         cm'
 '45☓29\r\n                                                         cm'
 '68☓50\r\n                                                         cm'
 '69☓49\r\n                                                         cm'
 'sheet 40×30.6cm' 'each 119×40cm, 10폭'
 '64☓43\r\n                                                         cm'
 '70☓60\r\n                                                         cm'
 '61☓76\r\n                                                         cm']

In [8]:
# 1. 작가명 컬럼의 유니크 값 개수 세기
unique_artist_count = df2['작가명'].nunique()
print("작가명 유니크 값 개수:", unique_artist_count)

# 2. 작가별 작품 수 세기
artist_counts = df2['작가명'].value_counts()
print("작가별 작품 수:\n", artist_counts)

작가명 유니크 값 개수: 35
작가별 작품 수:
 작가명
이우환          5406
신흥우          4800
박생광          3940
최영림          3940
강익중          3940
허건           3940
최울가          3940
김수수          3940
고재권          3940
캐서린 번하드      3940
박서보          3940
유선태          3940
오승윤          3940
이배           3940
아야코 록카쿠      3940
우국원          3940
서용선          3940
진영           3940
김창열          2203
김종학          1408
락사마나 료       1400
김응현          1399
장 미셸 오토니엘    1383
이왈종          1358
임경수          1118
이건용          1026
허백련           915
빅토르 바자렐리      866
콰야            789
디렌리           722
김영환           706
이동욱           700
김태호           546
제이드 킴         474
아담 핸들러        361
Name: count, dtype: int64

In [9]:
# '낙찰가격' 컬럼이 숫자형이 아닐 경우 숫자형으로 변환
df2['낙찰가격'] = pd.to_numeric(df2['낙찰가격'], errors='coerce')

# 작가별 평균값과 최고값 구하기
artist_price_stats = df2.groupby('작가명')['낙찰가격'].agg(['mean', 'max']).reset_index()

# 결과 출력
print(artist_price_stats)

          작가명          mean       max
0         강익중  6.000000e+06   6000000
1         고재권  3.000000e+06   3000000
2         김수수  5.000000e+06   5000000
3         김영환  6.000000e+05    600000
4         김응현  3.000000e+05    300000
5         김종학  1.600000e+06   1600000
6         김창열  1.290513e+06   1500000
7         김태호  1.500000e+06   1500000
8         디렌리  2.900000e+06   2900000
9      락사마나 료  2.100000e+06   2100000
10        박생광  8.500000e+06   8500000
11        박서보  1.500000e+07  15000000
12   빅토르 바자렐리  5.000000e+05    500000
13        서용선  6.500000e+06   6500000
14        신흥우  8.925000e+06  10000000
15     아담 핸들러  3.400000e+06   3400000
16    아야코 록카쿠  9.000000e+06   9000000
17        오승윤  1.100000e+07  11000000
18        우국원  6.000000e+06   6000000
19        유선태  6.000000e+06   6000000
20        이건용  2.000000e+06   2000000
21        이동욱  1.500000e+06   1500000
22         이배  6.000000e+06   6000000
23        이왈종  6.500000e+06   6500000
24        이우환  5.271180e+06   6000000
25        임경수  6.000000e+05    600000
26  장 미셸 오토니엘  1.100000e+06   1100000
27      제이드 킴  3.200000e+06   3200000
28         진영  5.000000e+06   5000000
29        최영림  4.600000e+06   4600000
30        최울가  5.000000e+06   5000000
31    캐서린 번하드  4.000000e+06   4000000
32         콰야  1.500000e+06   1500000
33         허건  2.500000e+06   2500000
34        허백련  1.200000e+06   1200000

In [11]:
# 작가명-uci_code 조합이 중복되는 경우 찾기
duplicates = df2.duplicated(subset=['작가명', 'uci_code'], keep=False)

# 중복된 조합만 출력
duplicated_rows = df2[duplicates]

print(duplicated_rows)

             작가명                작가명_영문  \
0            박생광      Park Saeng Kwang
1            이우환             Lee U Fan
2            서용선           Suh YongSun
3            우국원                   NaN
4        아야코 록카쿠         Ayako Rokkaku
...          ...                   ...
94555        디렌리                   NaN
94556  장 미셸 오토니엘  Jean-Michel Othoniel
94557        김응현        Kim Eung Hyeon
94558        김창열      Kim Tschang Yeul
94559         콰야                 Qwaya

                                            작품명        재료  \
0                                         단청 丹青  종이에 수묵채색
1                         Gateway to the East 7      아쿼틴트
2                                       지리산 원묵계  캔버스에 아크릴
3                             Let Them Eat Cake   디지털 프린트
4                                    Untitled B     실크스크린
...                                         ...       ...
94555                                   My Hero  캔버스에 아크릴
94556                              Plum Blossom       석판화
94557                                     격언 格言     종이에 먹
94558  L'inspecteur Est Toujours au Rendez-vous       동판화
94559                                  정해져 있는 길   캔버스에 유채

                                                      규격   호수     낙찰가격  경매명  \
0      69☓69\r\n                                     ...  NaN  8500000  KRW
1      29☓35\r\n                                     ...  NaN  5000000  KRW
2      72☓60\r\n                                     ...  20호  6500000  KRW
3      72☓90\r\n                                     ...  NaN  6000000  KRW
4                                         sheet 73×103cm  NaN  9000000  KRW
...                                                  ...  ...      ...  ...
94555  45☓45\r\n                                     ...  NaN  2900000  KRW
94556                                    sheet 40×30.6cm  NaN  1100000  KRW
94557  32☓123\r\n                                    ...  NaN   300000  KRW
94558  49☓64\r\n                                     ...  NaN  1000000  KRW
94559  72☓60\r\n                                     ...  20호  1500000  KRW

                           경매회사         경매일             uci_code
0      케이옥션 12월 31일 프리미엄 온라인 경매  2024-12-31  I805-PS81AAWYG15502
1      케이옥션 12월 31일 프리미엄 온라인 경매  2024-12-31  I805-PS98AAWWS15462
2      케이옥션 12월 31일 프리미엄 온라인 경매  2024-12-31  I805-PT09AAWXA15470
3      케이옥션 12월 31일 프리미엄 온라인 경매  2024-12-31  I805-PT22AAWYD15499
4      케이옥션 12월 31일 프리미엄 온라인 경매  2024-12-31  I805-PT21AAWYC15498
...                         ...         ...                  ...
94555   케이옥션 12월 30일 위클리 온라인 경매  2024-12-30  I805-PT23AAWTX15389
94556   케이옥션 12월 30일 위클리 온라인 경매  2024-12-30  I805-PT22AAWUY15416
94557   케이옥션 12월 30일 위클리 온라인 경매  2024-12-30  I805-PS77AAWVD15421
94558   케이옥션 12월 30일 위클리 온라인 경매  2024-12-30  I805-PS71AAWUF15397
94559   케이옥션 12월 30일 위클리 온라인 경매  2024-12-30  I805-PT22AAWTZ15391

[90620 rows x 11 columns]

In [12]:
# '작가명'과 'uci_code'가 중복된 행 찾기
duplicates = df2.duplicated(subset=['작가명', 'uci_code'], keep=False)
duplicated_rows = df2[duplicates]

# 파일로 저장
file_name = 'duplicated_artist_uci_code.csv'
duplicated_rows.to_csv(file_name, index=False)